AccountingWebMvc/.vs
AccountingWebMvc/AccountingWebMvc/bin
AccountingWebMvc/AccountingWebMvc/obj
AccountingWebMvc/AccountingWebMvc/AccountingWebMvc.csproj.user
AccountingWebMvc/AccountingWebMvc.Bll/bin
AccountingWebMvc/AccountingWebMvc.Bll/obj
AccountingWebMvc/AccountingWebMvc.Dal/bin
AccountingWebMvc/AccountingWebMvc.Dal/obj
AccountingWebMvc/packages

